#body{
    /* background-color: #f5fdff; */
    background-color: black;
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: auto;
}

#page{
    font-family: 'Inter', sans-serif;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-image: linear-gradient(45deg, rgb(4, 65, 112), rgb(4, 4, 105));
    border-radius: 10px;
    width: 30%;
    padding: 5%;
    box-shadow: 0px 0px 10px 1px rgb(201, 202, 202);
}
form img{
    border-radius: 50%;
    width: 35%;
    height: 35%;
    margin: 0 auto;
}
input{
    height: 10%;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem
}

button{
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

form p{
    color: white;
}

@media screen and (max-width: 420px) {
    form{
        width: 100%;
    }
}