#nav{
    height: 100vh;
    width: auto;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
    background-color: rgb(32, 32, 32);
   border-right: 1px solid rgb(171, 170, 170);
}
table{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 1%;
}
table tr{

    width: 12vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    margin: 1vh auto;
    align-items: center;
    justify-content: space-evenly;
   overflow: hidden;
   order: 1;
}
.icon, .name{
    cursor: pointer;
} 
.icon{
    width: 2.5vw;
    height: 100%;
   
}
.icon img{
    width: 100%;
    height: 100%;
}
.name{
    width: 8vw;
    height: 100%;
    font-size: calc(0.8vh + 0.8vw);
    font-weight: 600;
    color: rgb(116, 115, 115);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.name:hover{
    color: rgb(254, 254, 254);
    transition: 300ms;
}
#logo{
    background-image: linear-gradient(37deg,blue,rgb(247, 91, 247));
    
    color: transparent;
    background-clip: text;
}