.note-box{
    width: 80%;
    height: 95%;
    overflow: scroll;
     margin: auto;
    
}
.notify{
    width: 100%;
    height: 5%;
    display: grid;
    grid-template-columns:95% 5%;
    margin:1% auto;
    
}
.notify p, .notify img{
    width: 100%;
    height:100%; 
    display: flex; 
    align-items: center; 
    overflow:scroll;
    font-size: 1.1em;
    color: lemonchiffon;
}

.notify button{
    background-color: black;
    color: aqua;
    box-shadow: 0px 0px 1px 0px white;
}