#dashbody{
    /* background-color: #f5fdff; */
    background-color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    color: aliceblue;
    display: flex;
    
}




