#dashbody{
    /* background-color: #f5fdff; */
    background-color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    color: aliceblue;
    display: flex;
    
}

#panel{
    height: 100%;
    width: 100%;
}

.panelpage{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 3% 0px;
}

#l_wel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    font-size: 5em;
    background-image: linear-gradient(70deg, gray, white);
    background-clip: text;
    color: transparent;
    
}

.alert{
    color: red;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: fit-content;
    margin: 1% auto;
    padding: 1% 2%;
    border: 1px solid white;
}

#proscreen{
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3% 2%;
    justify-content: space-evenly;
}

#proscreen form{
    height: auto;
    width: 40%;
    
    padding: 3% 3%;
    background-image: none;
}

#proscreen form div{
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#proscreen form input{
    height: 100%;
    width: 60%;
    background-color: rgb(32, 32, 32);
    -webkit-appearance: none;
    -moz-appearance: none;    /* For Firefox */
     appearance: none;  
     color: aliceblue; 
     font-size: calc(0.8vh + 0.8vw);  
     border: none;    
     text-align: center;
}
#proscreen form p{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(0.8vh + 0.8vw);
    
}

#proscreen input:focus {
  outline: none;
}

#proedit{
      height: 95%;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3% 2%;
    justify-content: space-evenly;
}

#proedit form{
    width: 100%;
}