#dashbody{
    /* background-color: #f5fdff; */
    background-color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    color: aliceblue;
    display: flex;
    
}

#panel{
    height: 100%;
    width: 100%;
}

.panelpage{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 3% 0px;
}

#l_wel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    font-size: 5em;
    background-image: linear-gradient(70deg, gray, white);
    background-clip: text;
    color: transparent;
    
}

.alert{
    color: red;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: fit-content;
    margin: 1% auto;
    padding: 1% 2%;
    border: 1px solid white;
}

#proscreen, #intscreen{
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3% 2%;
    justify-content: space-evenly;
}
#intscreen{
    height: 100%;
    flex-direction: column;
    overflow: scroll;
   
}
#intscreen .slide{
   margin: 5% auto;
    width: 100%;
     display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 2%;
}
h3, h4{
       display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    font-size: 3em;
    background-image: linear-gradient(70deg, gray, white);
    background-clip: text;
    color: transparent;
    
}
h4{
font-size: 2em;
}
#proscreen form{
    height: auto;
    width: 40%;
    position: relative;
    padding: 3% 3%;
    background-image: none;
}

#proscreen form div{
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#proscreen form input{
    height: 100%;
    width: 60%;
    background-color: rgb(32, 32, 32);
    -webkit-appearance: none;
    -moz-appearance: none;    /* For Firefox */
     appearance: none;  
     color: aliceblue; 
     font-size: calc(0.8vh + 0.8vw);  
     border: none;    
     text-align: center;
}
#proscreen form p{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(0.8vh + 0.8vw);
    
}
#proscreen1 form button{
    position: absolute;
}
#proscreen input:focus {
  outline: none;
}

#proedit{
      height: 95%;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3% 2%;
    justify-content: space-evenly;
}

#proedit form{
    width: 100%;
}

#intscreen .slide .box{
    height: 35vh;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto 2%;
    border: 1px solid white;
    
}
#submenu{
    margin: 0 auto;
    margin-top: 3%;
     height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#submenu button{
     text-decoration: none;
    font-size: calc(0.8vh + 0.8vw);
    display: inline-block;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    background-image: linear-gradient(37deg,blue,rgb(247, 91, 247));
    
    color: transparent;
    background-clip: text;
}

#intscreen .slide .box img{
    width: 100%;
    height: 50%;
    opacity: 0.6;
   
}
#intscreen .slide .box .iinfos, #intscreen .slide .box .iinfos p, #apply div p{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    font-size: 1.1em;
}
#intscreen .slide .box .iinfos p{
    width: fit-content;
    height: 100%;
}

#intscreen .slide .box button{
    
    font-size: calc(0.8vh + 0.8vw);
    display: block;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    margin: 0 auto;
    background-image: linear-gradient(45deg, rgb(4, 65, 112), rgb(4, 4, 105));
    color: white;

}

#intscreen #apply{
    height: 95%;
    width: 80%;
    background-color: rgb(0, 0, 0);
    z-index: 10;position: absolute;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 1px white;
    display: flex;
    flex-direction: column;
}

#apply div p{
    font-size: 2em;
    justify-content: space-between;
    color: wheat;
}

#apply ul li{
    display: flex;
    align-items: center;
    
}
