#dashbody{
    /* background-color: #f5fdff; */
    background-color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    color: aliceblue;
    display: flex;
    
}

#panel{
    height: 100%;
    width: 100%;
}

.panelpage{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 3% 0px;
}

#l_wel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    font-size: 5em;
    background-image: linear-gradient(70deg, gray, white);
    background-clip: text;
    color: transparent;
    
}

.alert{
    color: red;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: fit-content;
    margin: 1% auto;
    padding: 1% 2%;
    border: 1px solid white;
}