#projectpage{
    height: 84%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 3% 0px;
    overflow: scroll;
}

.pro_slide{
margin: 5% auto;
    width: 90%;
     display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 2%;
}
.pro_slide .box{
     height: 35vh;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto 2%;
    border: 1px solid white;
    background: radial-gradient(circle at 30% 30%, purple, rgb(1, 1, 70), black);
    
}

.pro_slide .box .ptype{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 6%;
}

.pro_slide .box .ptype p{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;

}
.pro_slide .box button{
    background-image: linear-gradient(65deg,rgb(0, 0, 0),gray);
    color: aliceblue;
    font-weight: 600;
}
