#projectpage{
    height: 84%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 3% 0px;
    overflow: scroll;

}
.relate{
    position: relative;
}
.pro_slide{
margin: 2% auto;
    width: 90%;
     display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 2%;
}
.pro_slide .box{
     height: 35vh;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto 2%;
    border: 1px solid white;
    background: radial-gradient(circle at 30% 30%, purple, rgb(1, 1, 70), black);
    
}

.pro_slide .box .ptype{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 6%;
}

.pro_slide .box .ptype p{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;

}
.pro_slide .box button{
    background-image: linear-gradient(65deg,rgb(2, 117, 143),rgb(6, 111, 149));
    color: aliceblue;
    font-weight: 600;
}

#projectbar{
    
    width: 80%;
    margin: 2% auto;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
#projectbar div{
    width: 12%;
    height: 100%;
    padding: 1px;
    background:linear-gradient(gray,black);
    color: aliceblue;
    font-size: 1.3em;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}
select option{
    color: #000;
}

#create_pro_slide{
    position: absolute;
    margin: auto 5%;
    height: 70vh;
    width: 90%;
    background:linear-gradient(135deg, rgb(2, 89, 22) , rgb(5, 1, 73) );
    z-index: 10;
    box-shadow: 0px 0px 5px 1px white;
}

#create_pro_slide form div{
    width: 100%;
    height: 12%;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

#create_pro_slide form div input, #create_pro_slide form div select, textarea{
     width: 35%;
    height: 100%;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    border: 1px solid seashell;
    color: aliceblue;
    font-size: 1.2em;
    text-align: center;
}

#create_pro_slide form div textarea{
    width: 80%;
    height: 200%;
    text-align: left;
}