@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --color-blue-600: #2563eb;
}

:root {
  background-color: black;
  color-scheme: dark;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
@layer components {
  .profile-input {
    @apply w-full bg-black border border-zinc-900 rounded-xl px-4 py-3 text-sm text-zinc-400 focus:outline-none focus:border-blue-500 disabled:opacity-40 transition-all;
  }
}