*{
  padding: 0px;
  margin: 0px 0px;
  box-sizing: border-box;
}


body{
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 420px) {
  
}